actividad 2/Ejercicio3/ejercicio_probesonda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cs="http://upm.es/piat/crowdsense"
           targetNamespace="http://upm.es/piat/crowdsense"
           elementFormDefault="qualified">

    <!-- ============================================== -->
    <!-- EJERCICIO 3: Eficiencia y Asociación          -->
    <!-- Desacoplamiento Hardware (Sonda) / Dato (Probe) -->
    <!-- ============================================== -->

    <!-- Importamos los esquemas previos -->
    <xs:include schemaLocation="../Starter-kit/crowdsense-types.xsd"/>
    <xs:include schemaLocation="../Starter-kit/crowdsense-location.xsd"/>

    <!-- ========== TIPO COMPLEJO: WifiProbeType ========== -->
    <!-- 
        WifiProbeType representa una trama WiFi capturada.
        
        CONCEPTO CLAVE: El probe NO contiene los datos de la sonda,
        solo mantiene una REFERENCIA LIGERA (sondaRef) hacia ella.
        Esto evita duplicar información y mejora la eficiencia.
        
        Elementos (secuencia):
          OBLIGATORIOS:
          * timestamp (xs:dateTime) - Momento de captura
          * location (cs:LocationIDType) - Ubicación de captura
          * rssi (cs:RssiType) - Intensidad de señal
          * macAddress (cs:MacAddressType) - MAC del dispositivo detectado
          * ssid (cs:SsidType) - Nombre de red
          
          OPCIONALES (minOccurs="0"):
          * canal (cs:CanalWifiType) - Canal WiFi
          * frecuencia (cs:FrecuenciaWifiType) - Banda de frecuencia
          * tipoTrama - Tipo anónimo con enumeración: 
                        PROBE_REQUEST, PROBE_RESPONSE, BEACON, DATA, OTHER
          * fabricante (xs:string) - Fabricante del dispositivo
        
        Atributos:
          * id (cs:UuidType) - OBLIGATORIO
          * sondaRef (cs:UuidType) - OBLIGATORIO (referencia a la sonda)
          * secuencia (xs:positiveInteger) - OPCIONAL
    -->
    <xs:complexType name="WifiProbeType">
        <!-- TU CÓDIGO AQUÍ -->
          <xs:sequence>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="location" type="cs:LocationIDType"/>
            <xs:element name="rssi" type="cs:RssiType"/>
            <xs:element name="macAddress" type="cs:MacAddressType"/>
            <xs:element name="ssid" type="cs:SsidType"/>
            <xs:element name="canal" type="cs:CanalWifiType" minOccurs="0"/>
            <xs:element name="frecuencia" type="cs:FrecuenciaWifiType" minOccurs="0"/>
            <xs:element name="tipoTrama" minOccurs="0">
                <xs:simpleType> 
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PROBE_REQUEST"/>
                        <xs:enumeration value="PROBE_RESPONSE"/>
                        <xs:enumeration value="BEACON"/>
                        <xs:enumeration value="DATA"/>
                        <xs:enumeration value="OTHER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fabricante" type="xs:string" minOccurs="0"/>
          </xs:sequence>
            <xs:attribute name="id" type="cs:UuidType" use="required"/>
            <xs:attribute name="sondaRef" type="cs:UuidType" use="required"/>
            <xs:attribute name="secuencia" type="xs:positiveInteger" use="optional"/>
    </xs:complexType>

    <!-- ========== TIPO COMPLEJO: WifiProbesBatchType ========== -->
    <!-- 
        Contenedor para transmisión eficiente de múltiples probes.
        
        Elementos:
          * probe (cs:WifiProbeType) - minOccurs="1" maxOccurs="unbounded"
        
        Atributos (todos OBLIGATORIOS excepto sondaOrigen):
          * batchId (cs:UuidType) - required
          * batchTimestamp (xs:dateTime) - required
          * totalProbes (xs:positiveInteger) - required
          * sondaOrigen (cs:UuidType) - optional
    -->
    <xs:complexType name="WifiProbesBatchType">
        <!-- TU CÓDIGO AQUÍ -->
        <xs:sequence>
            <xs:element name="probe" type="cs:WifiProbeType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="batchId" type="cs:UuidType" use="required"/>
        <xs:attribute name="batchTimestamp" type="xs:dateTime" use="required"/>
        <xs:attribute name="totalProbes" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="sondaOrigen" type="cs:UuidType" use="optional"/>
    </xs:complexType>

    <!-- ========== TIPO COMPLEJO: SondaConfigType ========== -->
    <!-- 
        Configuración operativa de una sonda de captura WiFi.
        
        Elementos (secuencia):
          * intervaloCaptura (cs:IntervaloCapturaType) - default="1000"
          * rssiMinimo (cs:RssiType) - default="-90"
          * canalesMonitorizados - Tipo complejo anónimo con:
              - Secuencia de elementos "canal" (cs:CanalWifiType)
              - minOccurs="1" maxOccurs="unbounded"
          * filtroSSID (minOccurs="0") - Tipo complejo anónimo con:
              - ssidIncluir (cs:SsidType) minOccurs="0" maxOccurs="unbounded"
              - ssidExcluir (cs:SsidType) minOccurs="0" maxOccurs="unbounded"
              - Atributo "modo" con enumeración INCLUIR/EXCLUIR, default="INCLUIR"
          * modoCaptura (cs:ModoCapturaType) - minOccurs="0" default="CONTINUO"
          * tamanoLote (xs:positiveInteger) - minOccurs="0" default="100"
    -->
    <xs:complexType name="SondaConfigType">
        <!-- TU CÓDIGO AQUÍ -->
        <xs:sequence>
            <xs:element name="intervaloCaptura" type="cs:IntervaloCapturaType" default="1000"/>
            <xs:element name="rssiMinimo" type="cs:RssiType" default="-90"/>
            <xs:element name="canalesMonitorizados">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="canal" type="cs:CanalWifiType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="filtroSSID" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ssidIncluir" type="cs:SsidType" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="ssidExcluir" type="cs:SsidType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="modo" use="optional" default="INCLUIR">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="INCLUIR"/>
                                <xs:enumeration value="EXCLUIR"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="modoCaptura" type="cs:ModoCapturaType" minOccurs="0" default="CONTINUO"/>
            <xs:element name="tamanoLote" type="xs:positiveInteger" minOccurs="0" default="100"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========== ESTRUCTURA DEL DOCUMENTO DE PRUEBA ========== -->
    <!-- Esta parte ya está completada para validar tu trabajo -->
    
    <xs:element name="pruebaProbesSondas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="probe" type="cs:WifiProbeType" 
                            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="lote" type="cs:WifiProbesBatchType" 
                            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="configuracion" type="cs:SondaConfigType" 
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
