actividad 2/Starter-kit/crowdsense-types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--Mateo Sanchez - correo@alumnos.upm.es-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cs="http://upm.es/piat/crowdsense"
           targetNamespace="http://upm.es/piat/crowdsense"
           elementFormDefault="qualified">

    <!-- ============================================== -->
    <!-- CROWDSENSE TYPES - Tipos básicos reutilizables -->
    <!-- Autor: Proyecto CrowdSense UPM                 -->
    <!-- Versión: 1.0                                   -->
    <!-- ============================================== -->

    <!-- ========== TIPOS SIMPLES (Restricciones) ========== 
     •	<xs:simpleType name="...">: Crea un tipo de dato que no puede contener 
        atributos ni elementos hijos, solo un valor.
     •	<xs:restriction base="...">: Define sobre qué tipo primitivo se aplica la regla 
        (xs:string, xs:int, xs:decimal, xs:positiveInteger, xs:boolean, xs:dateTime, xs:date).
     •	Expresiones Regulares (xs:pattern): Obliga a que un texto (string) cumpla un patrón matemático exacto. 
        Utilizado para direcciones MAC , identificadores UUID , códigos de edificio (ej. UPM-[NS]-\d{1,3}) y validación de correos electrónicos.
     •	Rangos Numéricos:
        o	<xs:minInclusive> / <xs:maxInclusive>: Establece límites donde el número especificado está permitido. 
            Utilizado para latitud y longitud , canales de red y señales RSSI.
        o	<xs:minExclusive>: Establece un límite inferior donde el número especificado no está permitido. 
            Utilizado en la superficie para asegurar valores estrictamente mayores a cero.
     •	Listas Cerradas (xs:enumeration): Restringe el valor a una lista exacta de opciones (sensible a mayúsculas/minúsculas). 
        Usado en estados de sonda , tipos de espacio y frecuencias WiFi.
     •	Longitud (xs:maxLength): Limita la cantidad de caracteres de un string sin obligar a un mínimo, 
        permitiendo cadenas vacías (útil para SSID de redes ocultas).
-->
    
    <!-- Dirección MAC: formato XX:XX:XX:XX:XX:XX -->
    <!-- Completar con lo desarrollado en el ejercicio 1 -->
    <xs:simpleType name="MacAddressType">
        <!-- TU CÓDIGO AQUÍ -->
         <xs:restriction base="xs:string">
            <!-- 
        <xs:restriction base="...">: Define sobre qué tipo primitivo se aplica la regla  -->
            <xs:pattern value="([0-9A-Fa-f]{2}:){5}[0-9A-Fa-f]{2}"/>
                <!-- 
            <xs:pattern value="...">: Obliga a que un texto (string) cumpla un patrón matemático exacto.-->
        </xs:restriction>
    </xs:simpleType>
    <!-- RSSI: señal WiFi entre -100 y 0 dBm -->
    <!-- Completar con lo desarrollado en el ejercicio 1 -->
    <xs:simpleType name="RssiType">
        <!-- TU CÓDIGO AQUÍ -->
         <xs:restriction base="xs:int">
            <xs:minInclusive value="-100"/>
            <xs:maxInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- SSID: nombre de red, máximo 32 caracteres -->
    <!-- Completar con lo desarrollado en el ejercicio 1 -->
   <xs:simpleType name="SsidType">
        <!-- TU CÓDIGO AQUÍ -->
         <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Código de edificio UPM: UPM-N-XX o UPM-S-XX -->
    <xs:simpleType name="EdificioType">
        <xs:annotation>
            <xs:documentation>
                Identificador de edificio en el campus UPM.
                Formato: UPM-[N|S]-número
                N = Campus Norte, S = Campus Sur
                Ejemplo: UPM-N-10, UPM-S-5
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
         <xs:restriction base="xs:string">
            <xs:pattern value="UPM-[NS]-\d{1,3}"/>
         </xs:restriction>
    </xs:simpleType>

    <!-- Bloque: B seguido de número -->
    <xs:simpleType name="BloqueType">
        <xs:annotation>
            <xs:documentation>
                Identificador de bloque dentro de un edificio.
                Formato: B + número (1-99)
                Ejemplo: B1, B2, B10
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
         <xs:restriction base="xs:string">
            <xs:pattern value="B\d{1,2}"/>
         </xs:restriction>
    </xs:simpleType>

    <!-- Planta: P seguido de número (0=bajo, -1=sótano) -->
    <xs:simpleType name="PlantaType">
        <xs:annotation>
            <xs:documentation>
                Identificador de planta dentro de un bloque.
                Formato: P + número (puede ser negativo para sótanos)
                Ejemplo: P0 (planta baja), P1, P-1 (sótano)
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
         <xs:restriction base="xs:string">
            <xs:pattern value="P-?\d{1,2}"/>
         </xs:restriction>
    </xs:simpleType>

    <!-- Sala: Letra + número (L=Lab, A=Aula, H=Hall, C=Común, O=Oficina, D=Despacho, E=Escalera, S=Servicio) -->
    <xs:simpleType name="SalaType">
        <xs:annotation>
            <xs:documentation>
                Identificador de sala dentro de una planta.
                Formato: Letra de tipo + número
                Tipos: L=Laboratorio, A=Aula, H=Hall, C=Común, 
                       O=Oficina, D=Despacho, E=Escalera, S=Servicio
                Ejemplo: L01, A15, H01
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
         <xs:restriction base="xs:string">
            <xs:pattern value="[LAHCODES]\d{1,3}"/>
         </xs:restriction>
    </xs:simpleType>

    <!-- UUID para identificadores únicos -->
    <xs:simpleType name="UuidType">
        <xs:annotation>
            <xs:documentation>
                Identificador único universal (UUID v4).
                Formato: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                Ejemplo: 550e8400-e29b-41d4-a716-446655440000
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Estado de la sonda -->
    <!-- Completar con lo desarrollado en el ejercicio 1 -->
    <xs:simpleType name="SondaStatusType">
        <!-- TU CÓDIGO AQUÍ -->
         <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>

            <xs:enumeration value="INACTIVE"/>
            <xs:enumeration value="MAINTENANCE"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Estado del proyecto -->
    <xs:simpleType name="ProjectStatusType">
        <xs:annotation>
            <xs:documentation>
                Estado del ciclo de vida de un proyecto.
                PLANNED: Planificado, pendiente de inicio
                IN_PROGRESS: En ejecución activa
                COMPLETED: Finalizado correctamente
                CANCELLED: Cancelado antes de completarse
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLANNED"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="COMPLETED"/>
            <xs:enumeration value="CANCELLED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Tipo de espacio físico -->
    <xs:simpleType name="TipoEspacioType">
        <xs:annotation>
            <xs:documentation>
                Tipo de espacio físico donde se ubica una sonda.
                LABORATORY: Laboratorio
                CLASSROOM: Aula
                HALL: Hall o vestíbulo
                COMMON_AREA: Zona común
                OFFICE: Oficina
                STAIRCASE: Escalera
                SERVICE_AREA: Zona de servicio
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LABORATORIO"/> 
            <xs:enumeration value="AULA"/>
            <xs:enumeration value="DESPACHO"/> 
            <xs:enumeration value="PASILLO"/>
            <xs:enumeration value="CAFETERIA"/> 
            <xs:enumeration value="BIBLIOTECA"/>
            <xs:enumeration value="SALA_REUNIONES"/> 
            <xs:enumeration value="HALL"/>
            <xs:enumeration value="ASEOS"/> 
            <xs:enumeration value="OTRO"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Banda de frecuencia WiFi -->
    <xs:simpleType name="FrecuenciaWifiType">    
            <xs:annotation>
                <xs:documentation>
                    Banda de frecuencia WiFi.
                    2.4GHz: Banda de 2.4 GHz
                    5GHz: Banda de 5 GHz
                    6GHz: Banda de 6 GHz (WiFi 6E)
                </xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="2.4GHz"/>
                <xs:enumeration value="5GHz"/>
                <xs:enumeration value="6GHz"/>
            </xs:restriction>
    </xs:simpleType>
    <!-- Canal WiFi (1-165) -->
    <xs:simpleType name="CanalWifiType">
        <xs:annotation>
            <xs:documentation>
                Canal WiFi utilizado para la conexión.
                Rango válido: 1 a 165
                Ejemplo: 1, 6, 11 (canales comunes en 2.4GHz)
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="165"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Email válido -->
    <xs:simpleType name="EmailType">
        <xs:annotation>
            <xs:documentation>
                Dirección de correo electrónico válida.
                Formato general: local-part@domain
                Ejemplo: user@domain.com
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9. %+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Latitud geográfica (-90 a 90 grados) -->
    <xs:simpleType name="LatitudType">
        <xs:annotation>
            <xs:documentation>
                Latitud geográfica en grados decimales.
                Rango válido: -90 (Polo Sur) a 90 (Polo Norte).
                Ejemplo: 40.416775 (Madrid)
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Longitud geográfica (-180 a 180 grados) -->
    <xs:simpleType name="LongitudType">
        <xs:annotation>
            <xs:documentation>
                Longitud geográfica en grados decimales.
                Rango válido: -180 (Oeste) a 180 (Este).
                Ejemplo: -3.703790 (Madrid)
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
        </xs:restriction>
    </xs:simpleType>

    <!--
    -->
    <xs:simpleType name="SuperficieType">
        <xs:annotation>
            <xs:documentation>
                Superficie de un espacio en metros cuadrados.
                Debe ser un valor positivo mayor que cero.
            </xs:documentation>
        </xs:annotation>
        <!-- TODO -->
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ModoCapturaType">
        <xs:annotation>
            <xs:documentation>
                Modo de operación de captura de la sonda.
                CONTINUO: Captura permanente mientras esté activa.
                PROGRAMADO: Captura en horarios predefinidos.
                BAJO_DEMANDA: Captura solo cuando se solicita.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONTINUO"/>
            <xs:enumeration value="PROGRAMADO"/>
            <xs:enumeration value="BAJO_DEMANDA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IntervaloCapturaType">
        <xs:annotation>
            <xs:documentation>
                Intervalo de captura en milisegundos.
                Mínimo: 10ms (evita saturación del sistema).
                Máximo: 60000ms (1 minuto, evita pérdida excesiva de datos).
            </xs:documentation>
        </xs:annotation>
        <!-- 
        <xsd:simpleType name="obligatorio">
		    <xsd:restriction base = "xsd:token">
			    <xsd:pattern value="cualquierpatronregex"/>
		    </xsd:restriction>
	    </xsd:simpleType>
        -->
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="10"/>
            <xs:maxInclusive value="60000"/>
        </xs:restriction>
    </xs:simpleType>

        <!-- 
        <xsd:complexType name="tipoOpcion" mixed="true">
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="Elemento1" type="xsd:string"/>
                <xsd:element name="Elemento2" type="xsd:string"/>
            </xsd:choice>
        </xsd:complexType>
        -->

</xs:schema>
